/* styles/StateList.module.css */

.stateListContainer {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stateListItem {
  background-color: #444;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 24px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.footer {
  color: plum;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

.title {
  color: plum;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.title2 {
  color: plum;
  padding: 1px;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.stateListContainer h3 {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: white;
  line-height: 1.8;
  margin-bottom: 10px;
  font-size: 25px;
}

.specificText {
  color: white;
}

.contactTitle {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
}
